.nav-links{
  display: flex;
  justify-content: space-around;
}

.nav-bar{
  position: fixed;
  margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.nav-option{
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  background-color: transparent;
}